<template>
	<div class="attributes">
		<div class="attribute-block" v-for="(block, key) of blocks" :key="key" :class="blockCssClass(block)">
			<button class="btn btn-link" @click="showBlock(block)">{{block.title}}</button>
			<modal v-if="visibleBlock === block.dictionary" v-on:closed="closeBlock">
				<template #header>{{block.title}}</template>
				<template #body>
					<component :is="blockComponent(block.dictionary)" :data="block" :init-data="data"></component>
				</template>
			</modal>
		</div>
	</div>
</template>

<script>
  import Modal from '../Modal';
  import {MsgToUser} from "../mixins";

  import JustTitle from "./JustTitle";
  import RoomParam from "./RoomParam";
  import ProductProperty from "./ProductProperty";
  import Categories from "./Categories";

  export default {
    mixins: [
      MsgToUser,
    ],
    components: {
      Modal,
      JustTitle,
      RoomParam,
      ProductProperty,
      Categories,
    },
    data() {
      return {
        visibleBlock: null,
        data: null,
      }
    },
    props: {
      blocks: Array,
    },
    methods: {
      blockCssClass(block) {
        return block.dictionary.replace('_', '-');
			},
      blockComponent(dictionary) {
        switch (dictionary) {
          case 'room_param':
            return RoomParam;

          case 'product_property':
            return ProductProperty;

          case 'category':
            return Categories;

          default:
            return JustTitle;
        }
      },
      showBlock(block) {
        axios.get(block.urls.listing, {
          params: {dictionary: block.dictionary}
        }).then((response) => {
          if ('error' === response.data.type) {
            this.processErrorsInResponse(response);
          }
          else {
            this.data = response.data;
            this.visibleBlock = block.dictionary;
          }
        }).catch((response) => {
          this.processCatch(response);
        });

      },
      closeBlock() {
        this.visibleBlock = null;
        this.data = null;
      },
    },
  }
</script>
