<template>
	<ul class="list-unstyled">
		<li v-for="(item, index) of items" :key="index">
			<category ref="category" :init-category="item" :max-title-len="data.max_title_len" :max-level="data.max_category_level"></category>
		</li>
		<li class="new-item">
			<button type="button" class="btn btn-link" v-if="!hasEditing" @click="add">добавить</button>
		</li>
	</ul>
</template>

<script>
  import {MsgToUser} from "../mixins";
  import {InlineEdit} from "./mixins";
  import {EventBus} from "../EventBus";
  import Category from "./Category";

  export default {
    components: {Category},
    mixins: [
      MsgToUser,
      InlineEdit,
    ],
    data() {
      return {
        items: this._getItems(),
      }
    },
    props: {
      data: Object,
      initData: Object,
    },
    computed: {
      hasEditing() {
        for(let i in this.items) {
          if (this.itemEditingOrHasEditingChild(this.items[i])) {
            return true;
          }
        }

        return false;
      },
    },
    methods: {
      itemEditingOrHasEditingChild(item) {
        if (item.is_editing) {
          return true;
				}

        for(let i in item.children) {
          if (this.itemEditingOrHasEditingChild(item.children[i])) {
            return true;
          }
        }

        return false;
			},
      newItem() {
        return {
          id: '',
          title: '',
          title_original: '',
          is_editing: true,
          is_new: true,
					level: 1,
          children: []
        };
      },
      add() {
        this.items.push(this.newItem());
        let index = this.items.length - 1;
        this.$nextTick(() => {
          this.$refs.category[index].setFocus();
        });
      },
      onEsc(category) {
        this.resetEditable();
      },
      onSaveCategory(item) {
        let data = {
          dictionary: this.data.dictionary,
          title: item.title,
					parent_id: item.parent_id,
        };

        let url = this.data.urls.update;
        if (item.is_new) {
          url = this.data.urls.add;
        }
        else {
          data.id = item.id;
        }

        this._post(url, data, item);
			},
			_post(url, data, item) {
        axios.post(url, data).then((response) => {
          if ('error' === response.data.type) {
            this.processErrorsInResponse(response);
          }
          else {
            item.is_editing = false;
            item.is_new = false;
            item.id = response.data.item.id;
            item.title = response.data.item.title;
            item.title_original = item.title;
            let titles = JSON.parse(localStorage.getItem('category_titles'));
            titles[item.title] = item.id;
            localStorage.setItem('category_titles', JSON.stringify(titles));
            this.processSuccessInResponse(response);
          }
        }).catch((response) => {
          this.processCatch(response);
        });
			},
      resetEditable() {
        for(let i in this.items) {
          if (this.items[i].is_new) {
            this.items.splice(i, 1);
					}
          else {
            this.$refs.category[i].resetItemEditableWithChildren();
					}
        }
			},
      _getItems() {
        let items = this._buildItemsFromResponse(this.initData.items, 1);
        let titles = {};
        this._fillTitles(this.items, titles);
        localStorage.setItem('category_titles', JSON.stringify(titles));

        return items;
      },
			_buildItemsFromResponse(response_items, level) {
        return response_items.map((item) => {
          return {
            id: item.id,
            title: item.title,
            title_original: item.title,
            is_editing: false,
            is_new: false,
						level: level,
            children: this._buildItemsFromResponse(item.children, level + 1),
          }
        });
			},
			_fillTitles(items, target) {
        for(let i in items) {
          let item = items[i];
          target[item.title] = item.id;
          this._fillTitles(item.children, target);
				}
			},
    },
    created: function () {
      EventBus.$on('category-save', this.onSaveCategory);
      EventBus.$on('category-adding-new-on', this.resetEditable);
      EventBus.$on('category-edit-on', this.resetEditable);
      EventBus.$on('category-esc', this.onEsc);
    },
  }
</script>
