<template>
	<div>
		<div class="flexed" v-if="!category.is_editing" v-trim-whitespace>
			<span>{{ category.title }}</span>
			<div v-trim-whitespace>
				<button type="button" class="btn btn-link" title="Редактировать" @click="editOn(category.id)"><i class="fas fa-edit"></i></button>
				<button type="button" class="btn btn-link" title="Добавить подкатегорию" @click="add" v-if="category.level < maxLevel"><i class="fas fa-plus"></i></button>
			</div>
		</div>
		<div class="edit-item" v-else>
			<div class="flexed" v-trim-whitespace>
				<input type="text" v-model="category.title"
					:placeholder="placeholder"
					:class="errors.has('title') ? 'error' : ''"
					@keydown.enter.stop.prevent="onEnter"
					@keydown.esc.stop.prevent="onEsc"
					ref="title"
				/>
				<button type="button" class="btn btn-link" title="Сохранить" @click="save"><i class="fas fa-check"></i></button>
			</div>
			<div class="invalid-feedback d-block" v-if="errors.has('title')">{{errors.get('title')}}</div>
			<small class="form-text text-muted">Enter - сохранить, Esc - отменить</small>
		</div>
		<ul class="list-unstyled" v-if="category.children">
			<li v-for="(child, index) of category.children" :key="index">
				<category ref="child" :init-category="child"
					:max-title-len="maxTitleLen"
					:max-level="maxLevel"
					@edit-on="editOn(child.id)"
				></category>
			</li>
		</ul>
	</div>
</template>

<script>
  import {MsgToUser} from "../mixins";
  import {InlineEdit} from "./mixins";
  import {EventBus} from "../EventBus";

  export default {
    name: "Category",
    mixins: [
      MsgToUser,
      InlineEdit,
    ],
    data() {
      return {
        category: this.initCategory,
        errors: new Map(),
      }
    },
    props: {
      initCategory: Object,
      maxTitleLen: Number,
			maxLevel: Number,
    },
    computed: {
      hasEditing() {
        if (this.category.is_editing) {
          return true;
        }

        for(let i in this.category.children) {
          if (this.itemEditingOrHasEditingChild(this.category.children[i])) {
            return true;
          }
        }

        return false;
      },
    },
    methods: {
      itemEditingOrHasEditingChild(item) {
        if (item.is_editing) {
          return true;
        }

        for(let i in item.children) {
          if (this.itemEditingOrHasEditingChild(item.children[i])) {
            return true;
          }
        }

        return false;
      },
      newItem(parent_id) {
        return {
          id: '',
          title: '',
          title_original: '',
          is_editing: true,
          is_new: true,
					level: this.category.level + 1,
					parent_id: parent_id,
          children: []
        };
      },
      onEnter() {
        this.save();
      },
      onEsc() {
        this.errors.clear();

        if (this.category.is_new) {
          EventBus.$emit('category-esc', this.category);
        }
        else {
          this.resetItemEditable();
        }
      },
      editOn(category_id) {
        EventBus.$emit('category-edit-on', category_id);

        if (category_id === this.category.id) {
          this.category.is_editing = true;
          this.setFocus();
				}
      },
      add() {
        EventBus.$emit('category-adding-new-on');

        this.category.children.push(this.newItem(this.category.id));
        let index = this.category.children.length - 1;
        this.$nextTick(() => {
          this.$refs.child[index].setFocus();
        });
      },
      save() {
        if (!this.category.is_new && !this._isItemChanged()) {
          this.category.is_editing = false;
          return;
        }

        this._validate();

        if (!this.errors.size) {
          EventBus.$emit('category-save', this.category);
				}
      },
      resetItemEditable() {
        this.category.title = this.category.title_original;
        this.category.is_editing = false;
      },
      resetItemEditableWithChildren() {
        if (this.category.is_new) {
          EventBus.$emit('category-esc', this.category);
        }
        else {
          this.resetItemEditable();

          for(let i in this.category.children) {
            if (this.category.children[i].is_new) {
              this.category.children.splice(i, 1);
            }
            else {
              this.$refs.child[i].resetItemEditableWithChildren();
						}
          }
        }
			},
      _isItemChanged() {
        return this.category.title.trim().toLowerCase() !== this.category.title_original.trim().toLowerCase();
      },
      _validate() {
        this.errors.clear();

        if (!this.category.title.trim().length) {
          this.errors = new Map(this.errors.set('title', 'Название обязательно.'));
        }
        else if (this.category.title.trim().length > this.maxTitleLen) {
          this.errors = new Map(this.errors.set('title', 'Превышена максимальная длина названия.'));
        }

        let titles = JSON.parse(localStorage.getItem('category_titles'));
        if ('undefined' !== typeof titles[this.category.title]
					&& titles[this.category.title] !== this.category.id) {
          this.errors = new Map(this.errors.set('title', 'Категория с таким названием уже есть.'));
				}
      },
      setFocus() {
        this.$nextTick(() => {
          this.$refs.title.focus();
        });
      },
    }
  }
</script>
