<template>
	<ul class="list-unstyled">
		<li v-for="(item, index) of items" :key="index">
			<div class="flexed" v-if="!item.is_editing" v-trim-whitespace>
				<span>{{ item.title }}</span>
				<div v-trim-whitespace>
					<button type="button" class="btn btn-link" title="Редактировать" @click="editOn(item, index)"><i class="fas fa-edit"></i></button>
					<button type="button" class="btn btn-link" title="Удалить" @click="remove(item, index)" v-if="data.urls.remove"><i class="fas fa-trash-alt"></i></button>
				</div>
			</div>
			<div class="edit-item" v-else>
				<div class="flexed" v-trim-whitespace>
					<input type="text" v-model="item.title"
						:placeholder="placeholder"
						:class="errors.has('title_' + index) ? 'error' : ''"
						@keydown.enter.stop.prevent="onEnter(item, index)"
						@keydown.esc.stop.prevent="onEsc(item, index)"
						:ref="'item_' + index"
					/>
					<button type="button" class="btn btn-link" title="Сохранить" @click="save(item, index)"><i class="fas fa-check"></i></button>
				</div>
				<div class="invalid-feedback d-block" v-if="errors.has('title_' + index)">{{errors.get('title_' + index)}}</div>
				<small class="form-text text-muted">Enter - сохранить, Esc - отменить</small>
			</div>
		</li>
		<li class="new-item">
			<button type="button" class="btn btn-link" v-if="!hasEditing" @click="add">добавить</button>
		</li>
	</ul>
</template>

<script>
  import {InlineEdit} from "./mixins";
  import {MsgToUser} from "../mixins";

  export default {
    mixins: [
      MsgToUser,
      InlineEdit,
    ],
		data() {
      return {
        items: this._getItems(),
        errors: new Map(),
      }
		},
		props: {
      data: Object,
			initData: Object,
    },
		methods: {
		  newItem() {
		    return {
          id: '',
          title: '',
          title_original: '',
          is_editing: true,
          is_new: true,
        };
			},
      save(item, index) {
        this._validate(item, index);
        if (this.errors.size) {
          return;
        }

        if (this._isItemChanged(item)) {
          let url = item.is_new ? this.data.urls.add : this.data.urls.update;
          axios.post(url, {
            dictionary: this.data.dictionary,
            id: item.id,
            title: item.title,
          }).then((response) => {
            if ('error' === response.data.type) {
              this.processErrorsInResponse(response);
            }
            else {
              item.is_editing = false;
              item.is_new = false;
              item.id = response.data.item.id;
              item.title = response.data.item.title;
              item.title_original = item.title;
              this.processSuccessInResponse(response);
            }
          }).catch((response) => {
            this.processCatch(response);
          });
				}
        else {
          this.onEsc(item, index);
				}
			},
      resetItemEditing(item) {
        item.title = item.title_original;
        item.is_editing = false;
      },
			_getItems() {
        return this.initData.items.map(function(item) {
          return {
            id: item.id,
						title: item.title,
						title_original: item.title,
						is_editing: false,
						is_new: false,
					}
				});
			},
      _isItemChanged(item) {
				return item.title.trim().toLowerCase() !== item.title_original.trim().toLowerCase();
      },
      _validate(item, index) {
        this.errors.clear();

        if (!item.title.length) {
          this.errors = new Map(this.errors.set('title_' + index, 'Название обязательно.'));
        }
        else if (item.title.length > this.data.max_title_len) {
          this.errors = new Map(this.errors.set('title_' + index, 'Превышена максимальная длина названия.'));
				}
				else {
          for(let i in this.items) {

            if (i == index) {
              continue;
            }

            if (this.items[i].title.trim().toLowerCase() === item.title.trim().toLowerCase()) {
              this.errors = new Map(this.errors.set('title_' + index, 'Такое название уже есть.'));
              break;
            }
          }
				}
      },
		},
  }
</script>
