<template>
	<ul class="list-unstyled">
		<li v-for="(item, index) of items" :key="index">
			<div class="flexed" v-if="!item.is_editing">
				<div v-trim-whitespace>
					<span class="title">{{ item.title }}</span>
					<span class="unit">({{ unitTitle(item.unit_of_work_id) }})</span>
				</div>
				<div v-trim-whitespace>
					<button type="button" class="btn btn-link" title="Редактировать" @click="editOn(item, index)"><i class="fas fa-edit"></i></button>
					<button type="button" class="btn btn-link" title="Удалить" @click="remove(item, index)" v-if="data.urls.remove"><i class="fas fa-trash-alt"></i></button>
				</div>
			</div>
			<div class="edit-item" v-else>
				<div class="flexed">
					<div v-trim-whitespace>
						<input type="text" v-model="item.title"
							:placeholder="placeholder"
							:class="errors.has('item_' + index) ? 'error' : ''"
							@keydown.enter.stop.prevent="onEnter(item, index)"
							@keydown.esc.stop.prevent="onEsc(item, index)"
							:ref="'item_' + index"
						/>
						<select v-model="item.unit_of_work_id"
							:class="errors.has('item_' + index) ? 'error' : ''"
							@keydown.enter.stop.prevent="onEnter(item, index)"
							@keydown.esc.stop.prevent="onEsc(item, index)"
						>
							<option v-for="(unit, index) of units" :value="unit.id">{{unit.title}}</option>
						</select>
					</div>
					<button type="button" class="btn btn-link" title="Сохранить" @click="save(item, index)"><i class="fas fa-check"></i></button>
				</div>
				<div class="invalid-feedback d-block" v-if="errors.has('item_' + index)">{{errors.get('item_' + index)}}</div>
				<small class="form-text text-muted">Enter - сохранить, Esc - отменить</small>
			</div>
		</li>
		<li class="new-item">
			<button type="button" class="btn btn-link" v-if="!hasEditing" @click="add">добавить</button>
		</li>
	</ul>
</template>

<script>
  import {InlineEdit} from "./mixins";
  import {MsgToUser} from "../mixins";

  export default {
    mixins: [
      MsgToUser,
      InlineEdit,
    ],
    data() {
      return {
        items: this._getItems(),
				units: this.initData.units,
        errors: new Map(),
      }
    },
    props: {
      data: Object,
      initData: Object,
    },
    methods: {
      unitTitle(unit_id) {
				for(let i in this.units) {
				  let unit = this.units[i];
				  if (unit.id == unit_id) {
				    return unit.title;
					}
				}

				return '-';
      },
      newItem() {
        return {
          id: '',
          title: '',
          title_original: '',
          unit_of_work_id: '',
          unit_of_work_id_original: '',
          is_editing: true,
          is_new: true,
        };
      },
      save(item, index) {
        this._validate(item, index);
        if (this.errors.size) {
          return;
        }

        if (this._isItemChanged(item)) {
          let url = item.is_new ? this.data.urls.add : this.data.urls.update;
          axios.post(url, {
            dictionary: this.data.dictionary,
            id: item.id,
            title: item.title,
            unit_of_work_id: item.unit_of_work_id,
          }).then((response) => {
            if ('error' === response.data.type) {
              this.processErrorsInResponse(response);
            }
            else {
              item.is_editing = false;
              item.is_new = false;
              item.id = response.data.item.id;
              item.title = response.data.item.title;
              item.title_original = item.title;
              item.unit_of_work_id_original = item.unit_of_work_id;
              this.processSuccessInResponse(response);
            }
          }).catch((response) => {
            this.processCatch(response);
          });
        }
        else {
          this.onEsc(item, index);
        }
      },
      resetItemEditing(item) {
        item.title = item.title_original;
        item.unit_of_work_id = item.unit_of_work_id_original;
        item.is_editing = false;
      },
      _getItems() {
        return this.initData.items.map(function(item) {
          return {
            id: item.id,
            title: item.title,
            title_original: item.title,
            unit_of_work_id: item.unit_of_work_id,
            unit_of_work_id_original: item.unit_of_work_id,
            is_editing: false,
            is_new: false,
          }
        });
      },
      _isItemChanged(item) {
        return item.title.trim().toLowerCase() !== item.title_original.trim().toLowerCase()
					|| item.unit_of_work_id !== item.unit_of_work_id_original;
      },
      _validate(item, index) {
        this.errors.clear();

        if (!item.title.length || !item.unit_of_work_id) {
          this.errors = new Map(this.errors.set('item_' + index, 'Название и ед. изм. обязательны.'));
        }
        else if (item.title.length > this.data.max_title_len) {
          this.errors = new Map(this.errors.set('item_' + index, 'Превышена максимальная длина названия.'));
        }
        else {
          for(let i in this.items) {
            if (i == index) {
              continue;
						}

            let listItem = this.items[i];
            if (listItem.unit_of_work_id === item.unit_of_work_id
							&& listItem.title.trim().toLowerCase() === item.title.trim().toLowerCase()) {

              this.errors = new Map(this.errors.set('item_' + index, 'Такое сочетание названия и ед. изм. уже есть.'));
              break;
            }
          }
        }
      },
    }
  }
</script>
