// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Icons
@import 'fonts/awesome/fontawesome';
@import 'fonts/awesome/solid';

@import '~v-toaster/dist/v-toaster.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'modal';

.custom-modal .btn-link {
  padding: 0;
}
.custom-modal-header {
  background-color: $bg-dark;
  padding: 0 0.2rem;
}
.custom-modal-footer {
  border-top: 2px dashed $brd-dark;
}
.custom-modal-header .btn-link,
.custom-modal-body li:not(.new-item) .btn-link {
  margin-left: 1em;
}
ul {
  margin: 0;
}
ul ul {
  margin-left: 1em
}
input {
  padding: 0.2rem;
  height: 1.5rem;
  width: 100%;
}
.room-param input,
.product-property input {
  width: auto;
}
.room-param .custom-modal,
.product-property .custom-modal {
  min-width: 500px;
}
input.error,
select.error {
  outline: 1px solid $red;
  background-color: #fff0f0;
}
.tab {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: $tab-bg;
}
.tab-button {
  padding: 6px 10px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}
.tab-button:hover {
  background: $tab-bg;
}
.tab-button.active {
  background: $tab-bg;
  border-bottom-color: transparent;
}
.flexed {
  display: flex;
  justify-content: space-between;
}
.attribute-block li .title {
  margin-right: 0.5em;
}

