<template>
	<transition name="custom-modal-fade">
		<div class="custom-modal-backdrop" @click="close">
			<div class="custom-modal" @click.stop>
				<header class="custom-modal-header">
					<slot name="header"></slot>
					<button type="button" class="btn btn-link" title="Закрыть" @click="close"><i class="fas fa-times"></i></button>
				</header>
				<main class="custom-modal-body">
					<slot name="body"></slot>
				</main>
				<footer class="custom-modal-footer">
					<div class="flexed">
						<small class="form-text text-muted">Esc - закрыть</small>
						<div>
							<button class="btn btn-link" type="button" @click="close"><slot name="close_label">закрыть</slot></button>
							<slot name="footer"></slot>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</transition>
</template>

<script>
	export default {
		methods: {
			close() {
				this.$emit('closed');
			},
			onEsc(event) {
				if (event.key === 'Escape') {
					this.close();
				}
			}
		},
		mounted() {
			document.addEventListener('keydown', this.onEsc);
		},
		destroyed() {
			document.removeEventListener('keydown', this.onEsc);
		}
	}
</script>
