<template>
	<div class="tabs">
		<button type="button"
			:class="['tab-button', { active: currentTab === type }]"
			@click="currentTab = type"
			v-for="(tab, type) in tabs">
			{{ tab.title }}
		</button>
		<div class="tab" v-for="(tab, type) in tabs" v-show="currentTab === type">
			<attributes :blocks="tab.content" v-if="'attributes' === currentTab"></attributes>
			<div v-else>Содержимое вкладки {{tab.title}} не реализовано.</div>
		</div>
	</div>
</template>

<script>
	import Attributes from "../attributes/Attributes";

  export default {
    components: {
      Attributes,
		},
    data() {
      return {
        currentTab: Object.keys(this.tabs)[0],
      }
    },
    props: {
      tabs: Object,
			// works: {
      //   type: Object,
			// 	default: {}
			// },
			// products: {
      //   type: Object,
			// 	default: {}
			// },
			// prices: {
      //   type: Object,
			// 	default: {}
			// }
    }
  }
</script>
